:root{
    --light-color: #DFDDC7;
    --dark-color: #211717;
    --primary-color: #A34A28;
    --secondary-color: #F58B54;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    background-color: #122562;
    text-align: center;
    color: lightgray;
    position: sticky;
    top: 0;
    z-index: 1;
}

.sidebar > h3 {
    margin-top: 20px;
}

.sidebar-title {
    padding: 15px 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-list {
    display: none;
}





footer{
    background-color: var(--light-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.contacto{
    width: 96%;
    max-width: 520px;
    background-color:beige;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
}

.redes{
    display: flex;
    gap: 30px;
    color: var(--primary-color);
}
.redes a {
    transition: transform 0.3s ease-in-out;
}
.redes a:hover{
    transform: rotate(360deg);
    scale: 1.1;
}

.formulario{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 80%;
    padding: 10%;
}

.formulario textarea{
    resize: none;
    height: 120px;
}

.formulario button{
    border-radius: 3px;
    border: none;
    background-color: var(--primary-color);
    color: var(--light-color);
    font-weight: bold;
    height: 40px;
}
.formulario button:hover{
    cursor:pointer;
    scale: 0.99;
}

.input-box{
    display: flex;
    flex-direction: column;
}

a{
    color: var(--primary-color);
}